<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scarybug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5EF5031E4D996C00E29467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5EF5161E4D996D00E29467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5EF5211E4D996D00E29467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
